* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: slateblue;
    padding: 1rem 0;
}

.title {
    color: #fff;
    text-align: center;
}

.blog {
    display: inline-block;
    width: 40%;
    outline: 2px solid red;
}