* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif, monospace;
}

header {
    width: 100%;
    background: #edf2f4;
}

.navigation {
    display: flex;
    justify-content: center;
    
}

.navigation > li {
    list-style: none;
}

.navigation > li > a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #2b2d42;
    font-size: 1.2rem;
    padding: 1rem;
    border-bottom: 2px solid transparent;
    transition: all .5s;
}

.navigation > li:hover > a{
    filter: brightness(200%);
}  

/* dropdown css */

.sub-navigation {
    display: none;
    background: #2b2d42;
    border-top: 5px solid #8d99ae;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: .51rem 0;
}
.navigation > li:hover .sub-navigation{
    display: block;
    position: absolute;    
}

.sub-navigation li{
    list-style: none;
}
.sub-navigation li a{
    display: inline-block;
    color: #8d99ae;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 1rem;
    border-left: 5px solid transparent;

}

.sub-navigation li:hover a {
    border-left: 5px solid #8d99ae;
    color: #edf2f4;
    transform: scale(1.01);
}
